.tab-list {  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tab-list-item {
  display: grid;
  place-items: center;
  padding: 5px 5px;
}

.tab-list-active {
  border-bottom: solid blue;
}
